<h1>Eat-Da-Burger!</h1>

<h3>Welcome to a burger logger app. Submit your favorite burger type to devour it!</h3>

<img src="/assets/image/burger_image.jpeg" class="rounded mx-auto d-block" alt="Burger Image">

<div style="text-align: center;" class="row justify-content-between">
    <div class="col-6">
        <h4> Not Devoured Yet! </h4>
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{!-- {{> burgers/burger-block1 devoured=false}} --}}
            <li>
                <button class="new-burger" data-id="{{id}}" data-devouredState="false">{{burger_name}}</button>

                <button class="new-burger" data-id="{{this.id}}">Devour!</button>
            </li>

            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-6">
        <h4> Devoured! </h4>
        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{!-- {{> burgers/burger-block2 devoured=true}} --}}
            <li>
                <button class="dev" data-id="{{id}}" data-devouredState="true">{{burger_name}}</button>

                <button class="del-burger" data-id="{{this.id}}">Delete!</button>

            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>


<h4>Submit your favorite burger</h4>
<form id="add-form" class="create-form">
    <div style="text-align: center;" class="form-group">
        <label for="burger">Please enter your favorite burger name:</label>
        <input type="text" id="burger" name="name">
        <button type="submit" class="btn btn-warning" id="add">Add your Burger</button>
</form>